# ***Limpieza***

Dado que existen **valores faltantes** o registros con **datos erróneos** en la columna `visit_date` del DataFrame `restaurants_visitors`, se realizará una limpieza adicional. 

Esta limpieza es fundamental para asegurar que:

- Las fechas estén correctamente formateadas y sin errores.
- Las consultas SQL reflejen información confiable.
- La predicción de series de tiempo tenga sentido y no se vea afectada por inconsistencias en los datos.

Se eliminarán o corregirán los registros que no puedan convertirse en fechas válidas.

In [31]:
import pandas as pd

In [32]:
path = r'C:\Users\CRUZRAA\OneDrive - MC CORMICK & COMPANY INC\Documentos\02.2025\04. PERSONAL\BIChallenge\restaurants_visitors.csv'
df = pd.read_csv(path)

### ***Identificando datos faltantes***

In [33]:
df.head()

,id,visit_date,visit_datetime,reserve_datetime,reserve_visitors
0,db80363d35f10926,2016-01-01,01/01/2016 00:00,01/01/2016 01:00,5
1,db80363d35f10926,2016-01-02,02/01/2016 01:00,01/01/2016 16:00,2
2,db80363d35f10926,2016-01-02,02/01/2016 01:00,01/01/2016 15:00,4
3,db80363d35f10926,2016-01-02,02/01/2016 18:00,02/01/2016 14:00,2
4,db80363d35f10926,2016-01-02,02/01/2016 18:00,02/01/2016 02:00,3

In [34]:
df.isnull().sum()

id                  0
visit_date          0
visit_datetime      0
reserve_datetime    0
reserve_visitors    0
dtype: int64

In [35]:
df.dtypes

id                  object
visit_date          object
visit_datetime      object
reserve_datetime    object
reserve_visitors     int64
dtype: object

In [36]:
# 3886 valores fueron identificados como error

df[df['visit_date'] ==  '#VALUE!']

,id,visit_date,visit_datetime,reserve_datetime,reserve_visitors
1567,965b2e0cf4119003,#VALUE!,26/10/2016 20:00,25/10/2016 17:00,5
1568,42c9aa6d617c5057,#VALUE!,27/10/2016 11:00,26/10/2016 13:00,5
1569,45326ebb8dc72cfb,#VALUE!,27/10/2016 11:00,26/10/2016 21:00,1
1570,45326ebb8dc72cfb,#VALUE!,27/10/2016 11:00,26/10/2016 21:00,1
1571,0a74a5408a0b8642,#VALUE!,27/10/2016 17:00,27/10/2016 14:00,2
...,...,...,...,...,...
5448,324f7c39a8410e7c,#VALUE!,31/12/2016 20:00,29/12/2016 19:00,4
5449,324f7c39a8410e7c,#VALUE!,31/12/2016 20:00,27/11/2016 18:00,2
5450,324f7c39a8410e7c,#VALUE!,31/12/2016 20:00,30/12/2016 18:00,7
5451,db80363d35f10926,#VALUE!,31/12/2016 21:00,09/12/2016 20:00,7
5452,db80363d35f10926,#VALUE!,31/12/2016 23:00,28/12/2016 10:00,2

### ***Limpiando errores***

In [37]:
# Confirmando la estructura de los índices

df.index

RangeIndex(start=0, stop=12162, step=1)

In [38]:
# Filtrando datos erroneos

datos_erroneos = df[df['visit_date'] ==  '#VALUE!']

In [39]:
datos_erroneos.head()

,id,visit_date,visit_datetime,reserve_datetime,reserve_visitors
1567,965b2e0cf4119003,#VALUE!,26/10/2016 20:00,25/10/2016 17:00,5
1568,42c9aa6d617c5057,#VALUE!,27/10/2016 11:00,26/10/2016 13:00,5
1569,45326ebb8dc72cfb,#VALUE!,27/10/2016 11:00,26/10/2016 21:00,1
1570,45326ebb8dc72cfb,#VALUE!,27/10/2016 11:00,26/10/2016 21:00,1
1571,0a74a5408a0b8642,#VALUE!,27/10/2016 17:00,27/10/2016 14:00,2

In [40]:
# Convertir 'visit_datetime' a datetime para poder hacer el split

datos_erroneos['visit_datetime'] = pd.to_datetime(datos_erroneos['visit_datetime'], errors='coerce')

C:\Users\CRUZRAA\AppData\Local\Temp\ipykernel_19008\3728984911.py:3: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  datos_erroneos['visit_datetime'] = pd.to_datetime(datos_erroneos['visit_datetime'], errors='coerce')
C:\Users\CRUZRAA\AppData\Local\Temp\ipykernel_19008\3728984911.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos_erroneos['visit_datetime'] = pd.to_datetime(datos_erroneos['visit_datetime'], errors='coerce')

In [41]:
# Reemplazar la columna 'visit_date' con la parte de la fecha de 'visit_datetime' para dejar el miso formato

datos_erroneos['visit_date'] = datos_erroneos['visit_datetime'].dt.strftime('%Y-%m-%d')

C:\Users\CRUZRAA\AppData\Local\Temp\ipykernel_19008\2989969118.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos_erroneos['visit_date'] = datos_erroneos['visit_datetime'].dt.strftime('%Y-%m-%d')

In [48]:
datos_erroneos.head()

,id,visit_date,visit_datetime,reserve_datetime,reserve_visitors
1567,965b2e0cf4119003,2016-10-26,2016-10-26 20:00:00,25/10/2016 17:00,5
1568,42c9aa6d617c5057,2016-10-27,2016-10-27 11:00:00,26/10/2016 13:00,5
1569,45326ebb8dc72cfb,2016-10-27,2016-10-27 11:00:00,26/10/2016 21:00,1
1570,45326ebb8dc72cfb,2016-10-27,2016-10-27 11:00:00,26/10/2016 21:00,1
1571,0a74a5408a0b8642,2016-10-27,2016-10-27 17:00:00,27/10/2016 14:00,2

### ***Reemplazar en el df original***

In [43]:
datos_erroneos_index = df[df['visit_date'] ==  '#VALUE!'].index

In [44]:
df.shape

(12162, 5)

In [45]:
# Eliminando filas

df.drop(datos_erroneos_index, inplace=True)

In [46]:
# Confirmando la eliminación de las filas

print(df.shape)
df.reset_index(drop=True, inplace=True)

(8276, 5)

In [49]:
df_completo = pd.concat([df,datos_erroneos])

In [ ]:
# Confirmando que estén todos los datos

df_completo.shape

(12162, 5)

In [52]:
df_completo.to_csv(r'C:\Users\CRUZRAA\OneDrive - MC CORMICK & COMPANY INC\Documentos\02.2025\04. PERSONAL\BIChallenge\restaurants_visitors_limpio.csv', index=False, sep =',')